<main class="create">
    <!-- Create Page (Only for logged-in users) -->
    <section id="create">
        <div class="form">
            <h2>Add item</h2>
            <form class="create-form" method="POST" >
                <input type="text" name="name" id="name" value="{{name}}" placeholder="Name" />
                <input type="text" name="years" id="years" value="{{years}}" placeholder="Years" />
                <input type="text" name="kind" id="kind" value="{{kind}}" placeholder="Kind" />
                <input type="text" name="image" id="animal-img" value="{{image}}" placeholder="Image url" />
                <input type="text" name="need" id="needs-of" value="{{need}}" placeholder="Needs of" />
                <input type="text" name="location" id="location" value="{{location}}" placeholder="Location" />
                <textarea id="description" placeholder="Description..." name="description">{{description}}</textarea>

                <button type="submit">Post</button>
            </form>
        </div>
    </section>
</main>