<main>
    <form method="POST" class="cat-form">
        <h2>Edit Cat</h2>
        <label for="name">Name</label>
        <input type="text" id="name" name="name" value="{{cat.name}}">
        <label for="description">Description</label>
        <textarea id="description" name="description">{{cat.description}}</textarea>
        <label for="image">Image</label>
        <input type="text" id="image" name="image" value="{{cat.image}}">
        <label for="group">Breed</label>
        <select id="group" name="breed">
            {{#each breeds}}
                <option value="{{_id}}">{{breed}}</option>
                {{/each}}
            {{!-- <option value="{{cat.breed}}">{{cat.breed}}</option> --}}
        </select>
        <button>Edit Cat</button>
    </form>
</main>